body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.left {
	float: left;
	position: relative;
	margin-right: 10 px;

}

.right {
	float: right;
	position: relative;
	margin-left: 10 px;

}